Practica 4/Practica 4 Ej 1.json
[{"id":"4546616e.49111","type":"tab","label":"Practica 4 Ej1","disabled":false,"info":""},{"id":"581aa104.95be8","type":"http in","z":"4546616e.49111","name":"Suma","url":"/suma","method":"get","upload":false,"swaggerDoc":"","x":70,"y":220,"wires":[["c7b0a9c4.0a7d2"]]},{"id":"c7b0a9c4.0a7d2","type":"function","z":"4546616e.49111","name":"Suma","func":"var a = msg.req.body.a;\nvar b = msg.req.body.b;\nvar c = [];\nvar i,nan;\n\nmsg.data = {\"tipo\" : \"Suma\"};\n\nif(a.length < b.length)\n{\n    for(i = a.length; i < b.length; i++)\n        a[i] = 0;\n}\nelse\n{\n    for(i = b.length; i < a.length; i++)\n        b[i] = 0;\n}\n\nfor(i = 0; i < a.length; i++)\n{\n    if(isNaN(a[i]))\n    {\n        nan = \"a contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    if(isNaN(b[i]))\n    {\n        nan = \"b contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    c[i] = a[i] + b[i];\n}\n    \nmsg.payload = { \"resultado\" : c};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":250,"y":220,"wires":[["ed450703.043a78","f42ceafa.c2a71"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"ed450703.043a78","type":"http response","z":"4546616e.49111","name":"","statusCode":"","headers":{},"x":470,"y":140,"wires":[]},{"id":"43fcb863.d38d18","type":"http in","z":"4546616e.49111","name":"Resta","url":"/resta","method":"get","upload":false,"swaggerDoc":"","x":70,"y":260,"wires":[["d6719360.4705e"]]},{"id":"d6719360.4705e","type":"function","z":"4546616e.49111","name":"Resta","func":"var a = msg.req.body.a;\nvar b = msg.req.body.b;\nvar c = [];\nvar i;\n\nmsg.data = {\"tipo\" : \"Resta\"};\n\nif(a.length < b.length)\n{\n    for(i = a.length; i < b.length; i++)\n        a[i] = 0;\n}\nelse\n{\n    for(i = b.length; i < a.length; i++)\n        b[i] = 0;\n}\n\nfor( i = 0; i < a.length; i++)\n{\n    if(isNaN(a[i]))\n    {\n        var nan = \"a contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    if(isNaN(b[i]))\n    {\n        var nan = \"b contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    c[i] = a[i] - b[i];\n}\n\nmsg.payload = { \"resultado\" : c};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":250,"y":260,"wires":[["ed450703.043a78","f42ceafa.c2a71"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"a37f3dd7.7fa668","type":"http in","z":"4546616e.49111","name":"Mult Esc","url":"/multesc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":440,"wires":[["5f0582fe.df809c"]]},{"id":"5f0582fe.df809c","type":"function","z":"4546616e.49111","name":"Mult Esc","func":"var a = msg.req.body.a;\nvar n = msg.req.body.n;\nvar res = [];\nvar nan;\n\nmsg.data = {\"tipo\" : \"Multiplicación Escalar\"};\n\nif(isNaN(n))\n{\n    nan = \"n no es numéricos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nfor(var i = 0; i < a.length; i++)\n{\n    if(isNaN(a[i]))\n    {\n        nan = \"a contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    res[i] = a[i] * n;\n}\n    \nmsg.payload = { \"resultado\" : res};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":260,"y":440,"wires":[["ed450703.043a78","cf9e2b04.2b9f68"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"a5ef0646.7b485","type":"http in","z":"4546616e.49111","name":"Div Esc","url":"/divesc","method":"get","upload":false,"swaggerDoc":"","x":70,"y":480,"wires":[["c7630931.b276c"]]},{"id":"c7630931.b276c","type":"function","z":"4546616e.49111","name":"Div Esc","func":"var a = msg.req.body.a;\nvar n = msg.req.body.n;\nvar res = [];\nvar nan;\n\nmsg.data = {\"tipo\" : \"División Escalar\"};\n\nif(isNaN(n))\n{\n    nan = \"n no es numéricos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nif(n === 0)\n{\n    nan = \"Division por 0\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\nelse\n{\n    if(n !== 0)\n    {\n        for(var i = 0; i < a.length; i++)\n        {\n            if(isNaN(a[i]))\n            {\n                nan = \"a contiene elementos no numéricos\";\n                node.error(nan,msg);\n                msg.payload = {\"error\":nan};\n                return [null,msg];\n            }\n            res[i] = a[i] / n;\n        }\n    }\n        \n    msg.payload = { \"resultado\" : res}\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":260,"y":480,"wires":[["cf9e2b04.2b9f68","ed450703.043a78"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"8f7a79e1.881df","type":"http in","z":"4546616e.49111","name":"Inversión","url":"/inver","method":"get","upload":false,"swaggerDoc":"","x":80,"y":600,"wires":[["4ea12fac.37b14"]]},{"id":"4ea12fac.37b14","type":"function","z":"4546616e.49111","name":"Inversión","func":"var a = msg.req.body.a;\n\nmsg.data = {\"tipo\" : \"Inversión\"};\n\nfor(var i = 0; i < a.length; i++)\n{\n    if(isNaN(a[i]))\n    {\n        nan = \"a contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    a[i] *= -1;\n}\n    \nmsg.payload = { \"resultado\" : a};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":260,"y":600,"wires":[["ed450703.043a78","a1af12c4.fdb128"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"6edd1632.11eee8","type":"http in","z":"4546616e.49111","name":"Mult","url":"/mult","method":"get","upload":false,"swaggerDoc":"","x":70,"y":300,"wires":[["8b063492.99fcf8"]]},{"id":"8b063492.99fcf8","type":"function","z":"4546616e.49111","name":"Mult","func":"var a = msg.req.body.a;\nvar b = msg.req.body.b;\nvar res = 0;\nvar i;\n\nmsg.data = {\"tipo\" : \"Multiplicación\"};\n\nif(a.length !== b.length)\n{\n    nan = \"Ambos vectores deben tener el mismo numero de elementos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nfor(i = 0; i < a.length; i++)\n{\n    if(isNaN(a[i]))\n    {\n        nan = \"a contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    if(isNaN(b[i]))\n    {\n        nan = \"b contiene elementos no numéricos\";\n        node.error(nan,msg);\n        msg.payload = {\"error\":nan};\n        return [null,msg];\n    }\n    res += a[i] * b[i];\n}\n\nmsg.payload = { \"resultado\" : res};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":250,"y":300,"wires":[["ed450703.043a78","f42ceafa.c2a71"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"f42ceafa.c2a71","type":"template","z":"4546616e.49111","name":"2 vectores","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{data.tipo}} a: ({{req.body.a}}) b: ({{req.body.b}}) resultado: ({{payload.resultado}})","output":"str","x":610,"y":260,"wires":[["40afe2a0.a3ccc4"]]},{"id":"40afe2a0.a3ccc4","type":"file","z":"4546616e.49111","name":"LOG","filename":"log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":890,"y":400,"wires":[[]]},{"id":"cf9e2b04.2b9f68","type":"template","z":"4546616e.49111","name":"1 vector 1 escalar","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{data.tipo}} a: ({{req.body.a}}) n: ({{req.body.n}}) resultado: ({{payload.resultado}})","output":"str","x":630,"y":340,"wires":[["40afe2a0.a3ccc4"]]},{"id":"a1af12c4.fdb128","type":"template","z":"4546616e.49111","name":"1 vector","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{data.tipo}} a: ({{req.body.a}}) resultado: ({{payload.resultado}})","output":"str","x":600,"y":420,"wires":[["40afe2a0.a3ccc4"]]},{"id":"51441a73.2bbcf4","type":"http in","z":"4546616e.49111","name":"Suma Esc","url":"/sumaesc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":360,"wires":[["11eb872f.826331"]]},{"id":"11eb872f.826331","type":"function","z":"4546616e.49111","name":"Suma Esc","func":"var a = msg.req.body.a;\nvar n = msg.req.body.n;\nvar res = [];\nvar nan;\n\nmsg.data = {\"tipo\" : \"Suma Escalar\"};\n\nif(isNaN(n))\n{\n    nan = \"n no es numéricos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nif(n !== 0)\n{\n    for(var i = 0; i < a.length; i++)\n    {\n        if(isNaN(a[i]))\n        {\n            nan = \"a contiene elementos no numéricos\";\n            node.error(nan,msg);\n            msg.payload = {\"error\":nan};\n            return [null,msg];\n        }\n        res[i] = a[i] + n;\n    }\n}\n    \nmsg.payload = { \"resultado\" : res};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":270,"y":360,"wires":[["cf9e2b04.2b9f68","ed450703.043a78"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"b903682.c34c018","type":"http in","z":"4546616e.49111","name":"Resta Esc","url":"/restaesc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":400,"wires":[["52abcce2.3c8d7c"]]},{"id":"52abcce2.3c8d7c","type":"function","z":"4546616e.49111","name":"Resta Esc","func":"var a = msg.req.body.a;\nvar n = msg.req.body.n;\nvar res = [];\nvar nan;\n\nmsg.data = {\"tipo\" : \"Resta Escalar\"};\n\nif(isNaN(n))\n{\n    nan = \"n no es numéricos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nif(n !== 0)\n{\n    for(var i = 0; i < a.length; i++)\n    {\n        if(isNaN(a[i]))\n        {\n            nan = \"a contiene elementos no numéricos\";\n            node.error(nan,msg);\n            msg.payload = {\"error\":nan};\n            return [null,msg];\n        }\n        res[i] = a[i] - n;\n    }\n}\n    \nmsg.payload = { \"resultado\" : res};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":270,"y":400,"wires":[["cf9e2b04.2b9f68","ed450703.043a78"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"830bcd5c.378ec","type":"http in","z":"4546616e.49111","name":"Potencia","url":"/pow","method":"get","upload":false,"swaggerDoc":"","x":80,"y":520,"wires":[["e5820071.42ae78"]]},{"id":"e5820071.42ae78","type":"function","z":"4546616e.49111","name":"Potencia","func":"var a = msg.req.body.a;\nvar n = msg.req.body.n;\nvar res = [];\nvar nan;\n\nmsg.data = {\"tipo\" : \"Potencia\"};\n\nif(isNaN(n))\n{\n    nan = \"n no es numéricos\";\n    node.error(nan,msg);\n    msg.payload = {\"error\":nan};\n    return [null,msg];\n}\n\nif(n !== 0)\n{\n    for(var i = 0; i < a.length; i++)\n    {\n        if(isNaN(a[i]))\n        {\n            nan = \"a contiene elementos no numéricos\";\n            node.error(nan,msg);\n            msg.payload = {\"error\":nan};\n            return [null,msg];\n        }\n        res[i] = Math.pow(a[i],n);\n    }\n}\n    \nmsg.payload = { \"resultado\" : res};\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":260,"y":520,"wires":[["cf9e2b04.2b9f68","ed450703.043a78"],["ed450703.043a78","6a146c76.d2b184"]]},{"id":"1344d376.32842d","type":"catch","z":"4546616e.49111","name":"","scope":null,"uncaught":false,"x":260,"y":80,"wires":[["14c93d9b.c5422a"]]},{"id":"14c93d9b.c5422a","type":"debug","z":"4546616e.49111","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":440,"y":80,"wires":[]},{"id":"6a146c76.d2b184","type":"template","z":"4546616e.49111","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{data.tipo}} Error: ({{payload.error}})","output":"str","x":590,"y":600,"wires":[["40afe2a0.a3ccc4"]]}]