Practica 4/Practica 4 Ej 3.json
[{"id":"8512f289.cf1ed","type":"tab","label":"Práctica 4 Ej3","disabled":false,"info":""},{"id":"649e0a45.918544","type":"inject","z":"8512f289.cf1ed","name":"Iniciar","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":500,"wires":[["4c1378be.9abda8"]]},{"id":"ce6cc319.570c88","type":"http request","z":"8512f289.cf1ed","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://ih1.redbubble.net/image.556301443.8538/flat,750x1000,075,f.u3.jpg","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["d7c664cc.b4f768"]]},{"id":"4c1378be.9abda8","type":"change","z":"8512f289.cf1ed","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":440,"wires":[["ce6cc319.570c88"]]},{"id":"a5a5387.de1b0c8","type":"function","z":"8512f289.cf1ed","name":"Modificar Brillo auto","func":"msg.data += 0.1;\n\nif(msg.data >= 1)\n    msg.data = -1;\n    \nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["3beffb6.cbe5504","5a304b63.2c628c"]]},{"id":"5a304b63.2c628c","type":"delay","z":"8512f289.cf1ed","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":380,"wires":[["a5a5387.de1b0c8"]]},{"id":"deee71e.070ba1","type":"comment","z":"8512f289.cf1ed","name":"Imagen Original","info":"","x":560,"y":820,"wires":[]},{"id":"63e94cea.3854b4","type":"comment","z":"8512f289.cf1ed","name":"Brillo modificado","info":"","x":760,"y":820,"wires":[]},{"id":"c444d551.a09b28","type":"comment","z":"8512f289.cf1ed","name":"Imagen anterior invertida","info":"","x":970,"y":820,"wires":[]},{"id":"6dd1f95e.7432d","type":"comment","z":"8512f289.cf1ed","name":"Convolución bajorelieve","info":"","x":360,"y":820,"wires":[]},{"id":"1e8fdff4.f314a8","type":"jimp-image","z":"8512f289.cf1ed","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"invert","selectedJimpFunction":{"name":"invert","fn":"invert","description":"invert the image colours","parameters":[]},"x":830,"y":500,"wires":[["a42bedb6.389e88"]]},{"id":"3beffb6.cbe5504","type":"jimp-image","z":"8512f289.cf1ed","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"data","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"brightness","selectedJimpFunction":{"name":"brightness","fn":"brightness","description":"adjust the brightness","parameters":[{"name":"val","type":"num","required":true,"hint":"adjust the brightness by a value -1.0 to 1.0"}]},"x":830,"y":440,"wires":[["8ce05633.c47808"]]},{"id":"f1e78da5.6f716","type":"jimp-image","z":"8512f289.cf1ed","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"convolute_emboss","selectedJimpFunction":{"name":"emboss*","fn":"convolute_emboss","description":"emboss image (*uses convolute([[-2, -1, 0], [-1, 1, 1], [0, 1, 2]])","parameters":[]},"x":420,"y":500,"wires":[["95fcb78a.5f3b4"]]},{"id":"d7c664cc.b4f768","type":"image viewer","z":"8512f289.cf1ed","name":"","width":160,"data":"payload","dataType":"msg","x":530,"y":560,"wires":[["a5a5387.de1b0c8","f1e78da5.6f716"]]},{"id":"a42bedb6.389e88","type":"image viewer","z":"8512f289.cf1ed","name":"","width":160,"data":"payload","dataType":"msg","x":930,"y":560,"wires":[[]]},{"id":"8ce05633.c47808","type":"image viewer","z":"8512f289.cf1ed","name":"","width":160,"data":"payload","dataType":"msg","x":730,"y":560,"wires":[["1e8fdff4.f314a8"]]},{"id":"95fcb78a.5f3b4","type":"image viewer","z":"8512f289.cf1ed","name":"","width":160,"data":"payload","dataType":"msg","x":330,"y":560,"wires":[[]]}]